.counter-container{
    display: flex;
    background-color: white;
}


.counter-container .counter-container_button{
    margin-right: 1rem;
    background-color: rgb(224, 224, 224);
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    display: flex;
    align-content: center;
}

.counter-container .counter-container_button:hover{
    scale: 1.1;
}

.counter-container .counter-container_button button{
    background-color: rgb(199, 193, 193);
    margin: 0 0.5rem;
    min-width: 2rem;
    border-radius: 8px;
}

.counter-container .counter-container_button button:hover{
    background-color: rgb(157, 157, 157);
    color: white;
}

.add-to-the-cart_button{
    background-color: white;
    border: 1px solid var(--primary-color);
    padding: 0.2rem 2rem;
    border-radius: 8px;
    color: var(--primary-color)var(--primary-color);
}

.add-to-the-cart_button:hover{
    background-color: var(--primary-color);
    border: 1px solid white;
    color: white;
}