header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    color: #013150;
    border-bottom: solid 1.5px #c8c8c8;
}

li{
    display: inline-block;
    margin: 10px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}